.input-file {
  input {
    display: none;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px dashed #9C9C9C;
    padding: 15px;
    height: 85px;
    font-size: 14px;

    .upload-more {
      font-size: 14px;
      line-height: 38px;
      text-decoration-line: underline;
      color: #006BD2;
      font-weight: 600;
    }

  }

  &__preview {
    display: flex;
    margin: 0 -5px;
    background: #fff;
    overflow-x: auto;
    flex-shrink: 0;

    @media screen and (min-width: 641px){
      flex-wrap: wrap;
    }

    &Item {
      width: calc(25% - 10px);
      margin: 5px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
    }

    .loading &Loading{
      display: flex;
    }

    &Loading {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
      display: none;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }

    &Loading::after {
      content: '';
      width: 20px;
      min-width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 50%;
      border-left-color: transparent !important;
      -webkit-transition: -webkit-transform .5s linear;
      transition: transform .5s linear;
      -o-transition: transform .5s linear;
      transition: transform .5s linear, -webkit-transform .5s linear;
      -webkit-animation: .5s linear infinite loadingrotate;
      animation: .5s linear infinite loadingrotate;
      display: inline-block;
    }

    &Remove {
      width: 20.25px;
      height: 20.25px;
      display: block;
      text-align: center;
      margin-left: auto;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    &Image {
      position: relative;
      padding-top: 55px / 80px * 100%;

      .bgimage {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

  }

}

.submitted input:invalid~.input-file__input {
  border-color: red;
}