header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: $white;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 72px;

    &-burger {
        display: block;
    }

    &-logo {
        max-width: 152px;
        width: 100%;
        margin-right: auto;

        &__img {
            padding-top: 38px / 152px * 100%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }

    &-nav {
        margin-left: auto;

        &__ul {
            display: flex;

            li {
                margin: 0 10px;
            }
        }

        @media screen and (max-width:1024px) {
            display: none;
        }
    }

    &-account {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        background: #006BD2;
        border: 2px solid #006BD2;
        box-sizing: border-box;
        border-radius: 44px;
    }
}

.header-without-burger {
    .burger {
        display: none;
    }
}