@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

section.auth{
  .form__btns{
    margin-top: 27px;
    margin-bottom: 13px;
  }
  .form__options{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link{
      padding-left: 20px;
    }

  }  
}