include ../../components/burger/burger
.mobileMenu
  .container
    .mobileMenu-header
      .mobileMenu-header__toggle
        +burger('open')
    .mobileMenu-nav
      ul.mobileMenu-nav__ul
        li: a(href="/styleguide.html#breadcrumbs") Breadcrumbs
        li: a(href="/styleguide.html#buttons") Buttons
        li: a(href="/styleguide.html#textfields") Text fields
        li: a(href="/styleguide.html#radio") Radio
        li: a(href="/styleguide.html#editcontent") Edit text
    .mobileMenu-footer