include ../../components/burger/burger
.mobileMenu
  .container
    .mobileMenu-search
      form(action="")
        .form__field
          +input-icon({
          type: 'search',
          placeholder: 'Поиск',
          label: false,
          required: false,
          icon: "#ic_search",
        })
    .mobileMenu-nav
      ul.mobileMenu-nav__ul
        li: a(href="admin-moderate.html" data-count="3") Заявки на модерации
        li: a(href="admin-pickup.html") Подборщики
        li: a(href="admin-clients.html") Клиенты
        li: a(href="admin-history.html") История
    .mobileMenu-footer
        .mobileMenu-footer__btns
          a(href="admin-make-request.html").btn.btn-round.btn-big Добавить заявку
        .mobileMenu-footer__logout
          a(href="#")
            +icons('#ic_close',28)
            span Выйти