//.container
  .footer
    .footer-logo
      .footer-logo__img
        //- img(src="../img/svg/logo.svg",width="126", height="49", loading="lazy", alt="")
    .footer-nav
      ul.footer-nav__ul
        li
          a(href="#") Item 1
        li
          a(href="#") Item 2
        li
          a(href="#") Item 3
    .footer-feedback
.popup-colors(data-popup="microns")
  .popup-colors__close
    +icons('#ic_close-gray',16)
  .popup-colors__title
  .popup-colors__items
    .popup-colors__item(data-color="#B3F196")
      .color(style="background:#B3F196")
      .desc 0 - 200 <br>микрон
    .popup-colors__item(data-color="#F6DD85")
      .color(style="background:#F6DD85")
      .desc 300 - 500 <br>микрон
    .popup-colors__item(data-color="#DC8E8E")
      .color(style="background:#DC8E8E")
      .desc 500 + <br>микрон
  .undo.btn.btn-round(style="display:none") Отменить
.popup-colors(data-popup='replacement')
  .popup-colors__close
    svg(width='16' height='16')
      use(xlink:href='/img/sprites/sprite.svg#ic_close-gray')
  .popup-colors__title
  .popup-colors__items
    .popup-colors__item(data-color='#73D2E7')
      .color(style='background:#73D2E7')
      .desc Оригинал
    .popup-colors__item(data-color='#597DFB')
      .color(style='background:#597DFB')
      .desc Замена
    .popup-colors__item(data-color='#E46666')
      .color(style='background:#E46666')
      .desc С дефектом
  .undo.btn.btn-round(style="display:none") Отменить
.status(style="display:none")
  .status__message
  .status__action Закрыть
